<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.car.business.mapper.CarPackageAuditMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.car.business.domain.CarPackageAudit" >
    <id column="id" property="id" />
    <result column="service_item_id" property="serviceItemId" />
    <result column="service_item_info" property="serviceItemInfo" />
    <result column="service_item_price" property="serviceItemPrice" />
    <result column="instance_id" property="instanceId" />
    <result column="creator" property="creator" />
    <result column="auditor_id" property="auditorId" />
    <result column="bpmnInfo_id" property="bpmnInfoId" />
    <result column="info" property="info" />
    <result column="audit_record" property="auditRecord" />
    <result column="status" property="status" />
    <result column="audit_time" property="auditTime" />
    <result column="create_time" property="createTime" />
    <result column="si_name" property="serviceItem.name" />
    <result column="su_userName" property="auditor.userName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" >
    delete from bus_car_package_audit
    where id = #{id}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into bus_car_package_audit (service_item_id, service_item_info, service_item_price, instance_id, 
      creator, auditor_id, bpmnInfo_id, info, audit_record, status, audit_time, 
      create_time)
    values (#{serviceItemId}, #{serviceItemInfo}, #{serviceItemPrice}, #{instanceId}, 
      #{creator}, #{auditorId}, #{bpmnInfoId}, #{info}, #{auditRecord}, #{status}, #{auditTime}, 
      #{createTime})
  </insert>
  <update id="updateByPrimaryKey" >
    update bus_car_package_audit
    set service_item_id = #{serviceItemId},
      service_item_info = #{serviceItemInfo},
      service_item_price = #{serviceItemPrice},
      instance_id = #{instanceId},
      creator = #{creator},
      auditor_id = #{auditorId},
      bpmnInfo_id = #{bpmnInfoId},
      info = #{info},
      audit_record = #{auditRecord},
      status = #{status},
      audit_time = #{auditTime}
    where id = #{id}
  </update>
  <update id="updateInstanceByPrimaryKey">
    update bus_car_package_audit
    set
        instance_id = #{instanceId}

    where id = #{id}
  </update>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select id, service_item_id, service_item_info, service_item_price, instance_id, creator, 
    auditor_id, bpmnInfo_id, info, audit_record, status, audit_time, create_time
    from bus_car_package_audit
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, service_item_id, service_item_info, service_item_price, instance_id, creator, 
    auditor_id, bpmnInfo_id, info, audit_record, status, audit_time, create_time
    from bus_car_package_audit
  </select>
  <select id="selectForList" resultMap="BaseResultMap" >
  select cpa.id, cpa.service_item_id, cpa.service_item_info, cpa.service_item_price, cpa.instance_id, cpa.creator,
         cpa.auditor_id, cpa.bpmnInfo_id, cpa.info, cpa.audit_record, cpa.status, cpa.audit_time, cpa.create_time,
         si.name si_name,su.user_name su_userName
  from bus_car_package_audit cpa left join bus_service_item si on si.id = cpa.service_item_id
            left join sys_user su on su.id = cpa.auditor_id
    <where>
      <if test="beginTime != null">
        and date_format(cpa.create_time,'%Y-%m-%d')  >= date_format(#{beginTime},'%Y-%m-%d')
      </if>
      <if test="endTime != null">
        and  date_format(#{endTime},'%Y-%m-%d') >=  date_format(cpa.create_time,'%Y-%m-%d')
      </if>
      <if test="auditId != null and auditId !='' ">
        and  cpa.auditor_id = #{auditId}
      </if>
      <if test="userName != null and userName !='' ">
        and  cpa.audit_record like concat('%',#{userName},'%')
      </if>
      <if test="status != null ">
        and  cpa.status = #{status}
      </if>
    </where>
  </select>
  <update id="changeStatus">
    update  bus_car_package_audit set  status = #{status}
                where id=#{id}
  </update>
</mapper>